@page
@model IndexModel
@{
    ViewData["Title"] = "Página Principal";
}

<h1>Welcome</h1>
<div>
    <ul>
        <li><a asp-page="/List/ListaMateriales">Listar Materiales</a></li>
        <li><a asp-page="/Add/AgregarMaterial">Agregar Material</a></li>
        <li><a asp-page="/List/ListaObras">Listar Obras</a></li>
        <li><a asp-page="/Upload/CargarArchivo">Cargar Archivo</a></li>
    </ul>
</div>