@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Sistema de personasa</h1>

<div>
    <h2>Listar</h2>
    <ul>
        <li><a href="/Listar/ListarPersonas">Listar Personas</a></li>
        <li><a href="/Listar/ListarContratos">Listar Contratos</a></li>
    </ul>
</div>